<div class="container">
  <h1 class="my-5">Create New List</h1>

  <a href="#" routerLink="/list/index" class="btn btn-outline-dark mb-5"
    >Back</a
  >

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group">
      <input hidden formControlName="user_id" type="text" />
    </div>

    <div class="form-group">
      <label for="title">List Name:</label>
      <input
        formControlName="title"
        placeholder="Enter list name"
        id="title"
        type="text"
        class="form-control my-2"
      />
      <div
        *ngIf="f['title'].touched && f['title'].invalid"
        class="alert alert-danger"
      >
        <div *ngIf="f['title'].errors && f['title'].errors['required']">
          List name is required.
        </div>
      </div>
    </div>

    <button class="btn btn-dark" type="submit" [disabled]="!form.valid">
      Create
    </button>
  </form>
</div>
