<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<div class="container my-5">
  <h1 class="mb-5">My Lists</h1>

  <a routerLink="/list/create/" class="btn btn-outline-dark mb-5"
    >Create New List</a
  >

  <ng-container *ngIf="lists.length > 0">
    <ng-container *ngFor="let list of lists">
      <h4>{{ list.title | titlecase }}</h4>
      <div class="mb-4">
        <a
          [routerLink]="['/list/', list.id, 'view']"
          class="btn btn-outline-secondary me-2"
          >View Content</a
        >
        <a
          [routerLink]="['/list/', list.id, 'edit']"
          class="btn btn-outline-primary me-2"
          >Edit</a
        >
        <button
          type="button"
          (click)="deleteList(list.id)"
          class="btn btn-outline-danger"
        >
          Delete
        </button>
      </div>
      <ng-container *ngFor="let recipe of list.recipes">
        <p>{{ recipe.label }}</p>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
