<div class="container">
  <h4
    class="text-dark mt-5"
    style="
      width: 100%;
      border-bottom: 1px solid rgb(214, 214, 214);
      line-height: 0.1em;
      margin: 10px 0px 30px;
    "
  >
    <span style="background: rgb(255, 255, 255); padding-right: 14px">{{
      list?.title | titlecase
    }}</span>
  </h4>

  <a href="#" routerLink="/list/index" class="btn btn-dark mb-5">Back</a>

  <!-- SAVED RECIPIES -->

  <div class="container">
    <section>
      <div *ngFor="let recipe of recipies" class="card">
        <div class="card__body">
          <img
            src="{{ recipe.photo_url }}"
            alt="{{ recipe.label }}"
            class="card__image"
          />
          <h4 class="card__title">{{ recipe.label }}</h4>
          <a
            type="button"
            (click)="deleteRecipe(recipe.id)"
            class="link-danger delete__recipe"
          >
            Delete
          </a>
        </div>
        <button
          class="card__btn"
          [routerLink]="['/recipedetail', recipe.recipe_api_id]"
        >
          View Recipe
        </button>
      </div>
    </section>
  </div>
</div>
